body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:60px;
  width:330px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:560px;
  width:330px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:326px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:555px;
  width:330px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:380px;
  top:580px;
  width:80px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  height:2px;
}
#u7 {
  position:absolute;
  left:480px;
  top:575px;
  width:261px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:36px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:115px;
  top:220px;
  width:200px;
  height:200px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u10 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:110px;
  width:330px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u12 {
  position:absolute;
  left:79px;
  top:77px;
  width:11px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:188px;
  top:79px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:154px;
  top:116px;
  width:121px;
  height:60px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:21px;
  width:117px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:58.5px 9px;
  -ms-transform-origin:58.5px 9px;
  -moz-transform-origin:58.5px 9px;
  -webkit-transform-origin:58.5px 9px;
}
#u18 {
  position:absolute;
  left:121px;
  top:260px;
  width:185px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:168px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:185px;
  height:1px;
}
#u19 {
  position:absolute;
  left:540px;
  top:79px;
  width:350px;
  height:101px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:101px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:694px;
  top:40px;
  width:40px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:651px;
  top:86px;
  width:199px;
  height:25px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:651px;
  top:121px;
  width:79px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:651px;
  top:149px;
  width:46px;
  height:21px;
  font-size:18px;
  color:#FF0000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:560px;
  top:94px;
  width:70px;
  height:71px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:71px;
}
#u30 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:770px;
  top:135px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:811px;
  top:142px;
  width:10px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:831px;
  top:135px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:540px;
  top:179px;
  width:350px;
  height:101px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:101px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:651px;
  top:186px;
  width:155px;
  height:20px;
  font-size:14px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:651px;
  top:221px;
  width:79px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:651px;
  top:249px;
  width:46px;
  height:21px;
  font-size:18px;
  color:#FF0000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:560px;
  top:194px;
  width:70px;
  height:71px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:71px;
}
#u46 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:770px;
  top:235px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:811px;
  top:242px;
  width:10px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:831px;
  top:235px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:540px;
  top:279px;
  width:350px;
  height:101px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:101px;
}
#u54 {
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:651px;
  top:286px;
  width:155px;
  height:20px;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:651px;
  top:321px;
  width:79px;
  height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:651px;
  top:349px;
  width:46px;
  height:21px;
  font-size:18px;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:560px;
  top:294px;
  width:70px;
  height:71px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:71px;
}
#u62 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:770px;
  top:335px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:811px;
  top:342px;
  width:10px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:831px;
  top:335px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:540px;
  top:79px;
  width:350px;
  height:486px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:486px;
}
#u70 {
  position:absolute;
  left:2px;
  top:235px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:146px;
  top:116px;
  width:134px;
  height:64px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:64px;
}
#u72 {
  position:absolute;
  left:2px;
  top:24px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:280px;
  top:141px;
  width:120px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:2px;
}
#u74 {
  position:absolute;
  left:410px;
  top:122px;
  width:120px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:430px;
  top:180px;
  width:110px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:4px;
  width:110px;
  height:2px;
}
#u77 {
  position:absolute;
  left:867px;
  top:91px;
  width:8px;
  height:15px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:868px;
  top:192px;
  width:8px;
  height:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:866px;
  top:291px;
  width:8px;
  height:15px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:390px;
  top:305px;
  width:131px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
