body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:60px;
  width:330px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:101px;
  width:330px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u3 {
  position:absolute;
  left:188px;
  top:76px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:82px;
  top:75px;
  width:11px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:115px;
  top:150px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u8 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:330px;
  width:290px;
  height:250px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:250px;
}
#u10 {
  position:absolute;
  left:2px;
  top:117px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:98px;
  top:390px;
  width:217px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:98px;
  top:422px;
  width:217px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:428px;
  top:435px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
